body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 64px;
  line-height: 1;
  color: black;
  font-weight: 400;
}

h2 {
  font-size: 22px;
  line-height: 26px;
  color: #878787;
  margin-bottom: 0;
}

ul {
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  color: #878787;
}

li {
  list-style: none;
}

small {
  font-size: 10px;
  line-height: 10px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  width: 64px;
  height: 64px;
  margin-right: 10px;
}

.app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.search-form {
  margin-bottom: 20px;
}

.date-description::first-letter {
  text-transform: capitalize;
}

.weather-temperature {
  margin-top: 20px;
}

.weather-temperature h1 {
  position: relative;
}

.weather-temperature .units {
  font-size: 16px;
  margin: 0 10px 0 5px;
  position: relative;
  top: 2px;
}

.weather-temperature .units .active-link {
  cursor: default;
  color: black;
  text-decoration: none;
}

.weather-temperature ul {
  position: relative;
  top: 3px;
}

.weather-forecast {
  margin-top: 30px;
  text-align: center;
  color: black;
}

.forecast-icon {
  width: 32px;
  height: 32px;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
  line-height: 18px;
}

.weather-forecast-temp {
  font-size: 13px;
}

.weather-forecast-min {
  opacity: 0.5;
}
