body {
  font-family: Poppins;
}

h1 {
  font-size: 64px;
  line-height: 1;
  color: #0881a3;
  font-weight: 400;
}

h2 {
  font-size: 22px;
  line-height: 26px;
  color: #ffd6a4;
  margin-bottom: 0;
}

ul {
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  color: #ffd6a4;
}

li {
  list-style: none;
}

small {
  font-size: 10px;
  line-height: 10px;
  font-family: Roboto Mono;
  color: #0881a3;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  width: 64px;
  height: 64px;
  margin-right: 10px;
}

.app-wrapper {
  max-width: 700px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.information {
  margin-bottom: 20px;
}

.search-form {
  margin-bottom: 30px;
}

.button {
  color: white;
  background: #ffd6a4;
  border-color: #ffd6a4;
}

.button:hover {
  color: #ffd6a4;
  background-color: white;
  border-color: #ffd6a4;
}

.date-description::first-letter {
  text-transform: capitalize;
}

.weather-temperature {
  margin-top: 20px;
}

.weather-temperature h1 {
  position: relative;
}

.weather-temperature .units {
  font-size: 16px;
  margin: 0 10px 0 5px;
  position: relative;
  top: 2px;
  color: #0881a3;
}

.weather-temperature ul {
  position: relative;
  top: 3px;
  font-weight: 200;
}

.weather-forecast {
  margin-top: 30px;
  text-align: center;
  color: #ffd6a4;
  font-family: Roboto Mono;
}

.forecast-icon {
  width: 32px;
  height: 32px;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.7;
  line-height: 18px;
}

.weather-forecast-temp {
  font-size: 13px;
}

.weather-forecast-min {
  opacity: 0.7;
}
