body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 48px;
  line-height: 56px;
  color: black;
  margin-bottom: 0;
}

h2 {
  font-size: 22px;
  line-height: 26px;
  text-align: right;
  color: black;
  margin-bottom: 0;
}

ul {
  font-size: 10px;
  line-height: 12px;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

small {
  font-size: 10px;
  line-height: 10px;
  margin-bottom: 0;
}

.app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid gray;
  border-radius: 10px;
}

.search-form {
  margin-bottom: 20px;
}

.current-weather-overview {
  margin-bottom: 40px;
}

.weather-temperature .current-weather-emoji {
  font-size: 64px;
  margin-right: 10px;
  line-height: 56px;
  position: relative;
  top: 5px;
}

.weather-temperature h1 {
  position: relative;
  top: -2px;
}

.weather-temperature .units {
  font-size: 16px;
  position: relative;
  top: 2px;
  margin-right: 10px;
}

.weather-temperature ul {
  position: relative;
  top: 5px;
}

.date-description {
  text-align: right;
}

ul .date-description::first-letter {
  text-transform: capitalize;
}
